body
{
  background-color: #202020;
  opacity: 1;
}

#content
{
  background-color: #101010;
  position: relative;
}

canvas
{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas-holder
{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

button{
  text-decoration:none;
  color:inherit;
}
button:hover
{
  text-decoration:none;
  color:inherit;
}

.load,.map
{
  width:150px;
  text-align:center;
  padding:10px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -khtml-border-radius:4px;
  -o-border-radius:4px;
  background:#5cbad5;
  border:1px solid #5cbad5;
  -webkit-transition:background 0.2s linear;
  -moz-transition:background 0.2s linear;
  transition:background 0.2s linear;
}

.load:hover,.map:hover
{
  background:transparent;
  color:#5cbad5;
}



/*table 1 (id, category, oldVol, newVol) */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
#tableView{
  /*
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  */
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height: 100%;
}

.tbl-content{

  height:300px;
  width: 100%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);

}


#donnee{
  width:100%;
  table-layout: fixed;
}

#donnee thead{
  width: 100%;
  display: block;
}

#donnee thead tr{
  /*display: block;*/
  background-color: rgba(255,255,255,0.3);
}

#donnee thead th{
  padding: 5px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  width: 5%;
  vertical-align: middle;
}

#donnee tbody{
  display: block;
  height: 270px;
  overflow-x: auto;
  position: static;
  /*width: 100%;*/
}

#donnee tbody tr{
  height: 0px;
}

#donnee tbody td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  width: 285px;
  height: 0px;
}



/*table 2 (id, country, oldVol) */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
#tableView2{
  /*
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  */
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height: 100%;
}


.tbl-content2{

  height:300px;
  width: 100%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);

}


#donnee2{
  width:100%;
  table-layout: fixed;
}

#donnee2 thead{
  width: 100%;
  display: block;
}

#donnee2 thead tr{
  /*display: block;*/
  background-color: rgba(255,255,255,0.3);
}

#donnee2 thead th{
  padding: 5px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  width: 5%;
  vertical-align: middle;
}

#donnee2 tbody{
  display: block;
  height: 270px;
  overflow-x: auto;
  position: static;
  /*width: 100%;*/
}

#donnee2 tbody tr{
  height: 0px;
}

#donne2 tbody td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  width: 285px;
}





/*table 3 (id, country, newVol) */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
#tableView3{
  /*
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  */
  background-color: #101010;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height: 100%;
}

.tbl-content3{

  height:300px;
  width: 100%;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);

}


#donnee3{
  width:100%;
  table-layout: fixed;
}

#donnee3 thead{
  width: 100%;
  display: block;
}

#donnee3 thead tr{
  /*display: block;*/
  background-color: rgba(255,255,255,0.3);
}

#donnee3 thead th{
  padding: 5px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
  width: 5%;
  vertical-align: middle;
}

#donnee3 tbody{
  display: block;
  height: 270px;
  overflow-x: auto;
  position: static;
  /*width: 100%;*/
}

#donnee3 tbody tr{
  height: 0px;
}

#donne3 tbody td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  width: 285px;
}



/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.9);
}


/*loading */

/* Absolute Center CSS Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*map styles*/
.ammapDescriptionWindow
{
  background-color: rgba(255,255,255,0.5);
  border: 2px solid;
  padding: 12px 10px;
  border-radius: 15px;
  height: 60px;
  top:100px;
}

.ammapDescriptionTitle
{
  font-size: 120%;
  font-family:"verdana";
  font-weight:bold;
}
.ammapDescriptionText
{
  margin-top: 8px;
  font-size: 100%;
}

.ammapDescriptionWindowCloseButton
{
  height: 25px;
  width: 25px;

}
