<html>
  <head>
    <title>CSV to JSON</title>
    <script type="text/javascript" src="../script/script1.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </script><link rel="stylesheet" href="../css/script6.css">
    <link rel="stylesheet" href="../css/script7.css">

  </head>
  <body style="overflow:hidden">

    <table id="header" class="header" >
      <tr>
        <td class="zero hidden-xs">
          <table>
            <tr>
              <td>
                <a href="index.html" class="logo"></a>
              </td>
            </tr>
          </table>
        </td>
        <td class="hidden-xs">
          <table class="middle">
            <tr>
              <td>
                <a href="indexcsv.html" style="margin-left:0px">Scoring_settings</a>
              </td>
              <td>
                <a href="indexregex.html">Regex check</a>
              </td>
              <td>
                <a href="indexvisu.html">Visualization</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div id="demo-main">
      <iframe id="demo-iframe" src="visu.html"></iframe>
    </div>

  </body>
</html>
