<html>
  <head>
    <title>Adgnitio</title>
    <script type="text/javascript" src="../script/script1.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="../script/script2.js"></script>
    <script type="text/javascript" src="../script/script3.js"></script>
    <script type="text/javascript" src="../script/script4.js"></script>
    <script type="text/javascript" src="../script/script5.js">
    </script><link rel="stylesheet" href="../css/script6.css">
    <link rel="stylesheet" href="../css/script7.css">
    <link rel="stylesheet" href="../css/script8.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" async="" src="../script/script9.js"></script>
    <script type="text/javascript" async="" src="../script/script10.js"></script>
    <script type="text/javascript">//<![CDATA[
      var _tsq = _tsq || [];
      _tsq.push(["setAccountName", "tenthbit"]);
      _tsq.push(["fireHit", "javascript_tracker", []]);
      //]]></script><script type="text/javascript">//<![CDATA[
        //]]></script><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("a466f516f2adf69b9558cf4c0efc286b");
    </script>
    <script type="text/javascript" src="../script/script11.js"></script>
  </head>
  <body style="overflow:hidden">

    <table id="header" class="header">
      <tr>
        <td class="zero hidden-xs">
          <table>
            <tr>
              <td>
                <a href="index.html" class="logo"></a>
              </td>
            </tr>
          </table>
        </td>
        <td class="hidden-xs">
          <table class="middle">
            <tr>
              <td>
                <a href="indexcsv.html" style="margin-left:0px">Scoring_settings</a>
              </td>
              <td>
                <a href="indexregex.html">Regex check</a>
              </td>
              <td>
                <a href="indexvisu.html">Visualization</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <div id="demo-main">
      <iframe id="demo-iframe" src="regex.html"></iframe>
    </div>

  </body>
</html>
