<html>
  <head>
    <title>Adgnitio</title>
    <script type="text/javascript" src="../script/script1.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="../script/script2.js"></script> <!--catch scrolling text-->
    <script type="text/javascript" src="../script/script5.js"></script> <!--scrolling parameter-->
    <link rel="stylesheet" href="../css/script6.css"> <!-- scrollview spacing point -->
    <link rel="stylesheet" href="../css/script7.css"> <!--background and police -->
    <script type="text/javascript">//<![CDATA[
        //]]></script><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("a466f516f2adf69b9558cf4c0efc286b");
    </script> <!-- scrolling behaviour-->
    <script type="text/javascript" src="../script/script11.js"></script> <!--catch scrolling text-->
  </head>
  <body style="overflow:hidden">
    <div id="background1" class="background"></div>
    <div id="background2" class="background"></div>
    <div id="background3" class="background"></div>
    <div id="background4" class="background"></div>
    <div id="overlay" class="background"></div>
    <div id="sensor"></div>
    <table id="content1" class="content">
      <tr>
        <td>
          <h1>Adgnitio platform</h1>
          <span>Monetize you data by preparing your DMP delivery</span>

        </td>
      </tr>
    </table>
    <table id="content2" class="content">
      <tr>
        <td>
          <h1>Serialization</h1>
          <span>Convert your data written in a CSV file into JSON format.</span>
          <table class="hidden-xs">
            <tr>
              <td>
                <a href="csvjson.html" class="signup">Begin</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table id="content3" class="content">
      <tr>
        <td>
          <h1>Regex checking</h1>
          <span>Check your pattern in order to make sure that your data will be matched promptly.</span>
          <table class="hidden-xs">
            <tr>
              <td>
                <a href="#" class="signup">Begin</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <table id="content4" class="content">
      <tr>
        <td>
          <h1>Visualization</h1>
          <span>Visualize your data volume and make some prediction and analysis</span>
          <table class="hidden-xs">
            <tr>
              <td>
                <a href="visu.html" class="signup">Begin</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="sidenav">
      <tr>
        <td>
          <table>
            <tr>
              <td>
                <a href="#" class="navitem navitem1"></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="line"></div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="navitem navitem2"></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="line"></div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="navitem navitem3"></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="line"></div>
              </td>
            </tr>
            <tr>
              <td>
                <a href="#" class="navitem navitem4"></a>
              </td>
            </tr>
            <tr>
              <td>
                <div class="line"></div>
              </td>
            </tr>

          </table>
        </td>
      </tr>
    </table>

  </body>
</html>
