<html>
  <head>
    <title>Visualization</title>
    <script type="text/javascript" src="../script/script1.js"></script>
    <link rel="stylesheet" href="../css/script7.css">
    <script type="text/javascript" src="../script/graph/pie.js"></script>
    <script type="text/javascript" src="../script/graph/histo.js"></script>

    <link rel="stylesheet" href="../css/visu.css">

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="char/dist/Chart.bundle.js"></script>

    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript" src="../script/filter.js"></script>
    <!--<script type="text/javascript" src="../script/loading.js"></script>-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="map/ammap.js"></script>
		<script src="map/maps/continentsLow.js"></script> <!--first map-->
		<script src="map/maps/worldLow.js"></script> <!--zoom map-->
		<script src="map/themes/light.js"></script>
    <script src="script/map/map.js"></script>


  </head>
  <body>
  </br>
    <button onclick="window.location.href='/visu.html'" class="load">Load</button>
    <table id="content" style="margin-top:20px; width:100%;">
      <tr>
        <td>
          <div id="container" style= "width:95%; height:100%;">
            <canvas id="canvas"></canvas> <!-- histogramme-->
          </div>
        </td>
      </tr>
    </table>

    <div class="loading">Loading&#8230;</div>


    <table style=" margin-top:20px; width:100%;">
      <th>
        <td>
          <table id="content" style="width:100%;">
            <th >
              <td>
                <div id="canvas-holder" style="width:100%">
                    <canvas id="chart-area" width="350" height="350"/> <!--pie-chart-->
                </div>
              </td>
            </th>
          </table>
        </td>
      </th>
      <th>
        <td>

          <div id="tableView"> <!--tableView-->
            <form>
              <input id ="input-tab" data-type="text" placeholder="Search" style="width:100%;">
            </form>
            <div  class="tbl-header">
              <table class="donneeHeader" cellpadding="0" cellspacing="0" border="0"> <!--tableheader-->
                  <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Old Volume</th>
                    <th>New Volume</th>
                    <th>Difference</th>
                  </tr>
              </table>
            </div>

            <div class="tbl-content">
              <table id="donnee" cellpadding="0" cellspacing="0" border="0" data-filter="true" data-input="#input-tab"><!--table data-->

              </table>
            </div>

          </div>
        </td>
      </th>
    </table>
  </br>
    <table>
      <th>
        <td>
          <div id="tableView2"> <!--tableView-->
            <form>
              <input id ="input-tab2" data-type="text" placeholder="Search" style="width:100%;">
            </form>
            <div  class="tbl-header2">
              <table class="donneeHeader2" cellpadding="0" cellspacing="0" border="0"> <!--tableheader-->
                  <tr>
                    <th>ID</th>
                    <th>Country</th>
                    <th>Old Volume</th>
                  </tr>
              </table>
            </div>

            <div class="tbl-content2">
              <table id="donnee2" onload="list2load()" cellpadding="0" cellspacing="0" border="0" data-filter="true" data-input="#input-tab2"><!--table data-->

              </table>
            </div>

          </div>
        </td>
      </th>
      <th>
        <td>
          <div id="tableView3"> <!--tableView-->
            <form>
              <input id ="input-tab3" data-type="text" placeholder="Search" style="width:100%;">
            </form>
            <div  class="tbl-header3">
              <table class="donneeHeader3" cellpadding="0" cellspacing="0" border="0"> <!--tableheader-->
                  <tr>
                    <th>ID</th>
                    <th>Country</th>
                    <th>New Volume</th>
                  </tr>
              </table>
            </div>

            <div class="tbl-content3">
              <table id="donnee3" cellpadding="0" cellspacing="0" border="0" data-filter="true" data-input="#input-tab3"><!--table data-->

              </table>
            </div>

          </div>
        </td>
      </th>
    </table>
  </br>

  <center><div id="chartdiv"></div></center>

  <style>
    #chartdiv
    {
      width	: 100%;
      height	: 400px;
    }


  </style>



    <script type="text/javascript">

      var socket = io();


      //send message to index.js
      var msg2 = 'visu';
      socket.emit("sending_visu", {
          message2: msg2
      });

      //retrieve data from index.js (arraylist id, category, oldVol and newVol), sent by visu.js
      socket.once('sending_histo', function(res) //one time listener to avoid duplication of hist and pie Chart
      {

        //get arraylist content
        var mess = res['message3'];

        var id = [];
        var category = [];
        var oldVolume = [];
        var newVolume = [];
        var List = [];
        var ListOld = [];
        var ListNew = [];
        var ListMap = [];
        var ListVolCat = [];
        var ListMapCatVol = [];
        var ListHistogramm = [];

        //get all content of the list
        for(var i = 0; i < mess.length; i++)
        {
          List.push(mess[0][0]);
          ListOld.push(mess[1][0]);
          ListNew.push(mess[2][0]);
          ListMap.push(mess[3][0]);
          ListVolCat.push(mess[4][0]);
        }

        function executeAsync(func)
        {
          setTimeout(func, 0);
        }



        var list1load = function()
        {
          //show element first table (id, cat, oldVolume, newVolume)
          for(var j =0; j < mess[0][0].length; j++)
          {
            //inserting table content by incrementing all the element into the arraylist
            var table = document.getElementById("donnee");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.insertCell(0).innerHTML = List[0][j][0];
            row.insertCell(1).innerHTML = List[0][j][1];
            row.insertCell(2).innerHTML = Intl.NumberFormat().format(List[0][j][2]);
            row.insertCell(3).innerHTML = Intl.NumberFormat().format(List[0][j][3]);
            row.insertCell(4).innerHTML = Intl.NumberFormat().format(List[0][j][4]);

            //determine if difference is + or -
            var Cells = row.getElementsByTagName("td");

            //if difference +
            if(Cells[4].innerText.indexOf("-"))
            {
              Cells[4].remove();
              row.insertCell(4).innerHTML = "<font size='2px' color='green'>"+List[0][j][4]+"</font>";
            }
            else //if difference -
            {
              Cells[4].remove();
              row.insertCell(4).innerHTML = "<font size='2px' color='red'>"+List[0][j][4]+"</font>";
            }


            //Push id, oldVolume and newVolume to the histogramme list
            ListHistogramm.push([List[0][j][0], List[0][j][2], List[0][j][3]]);
          }
          //alert(ListHistogramm[1][1]);
        }

        var list2load = function()
        {
          //show element first table (id, ccountry, oldVolume)
          for(var j =0; j < mess[1][0].length; j++)
          {
            //inserting table content by incrementing all the element into the arraylist
            var table = document.getElementById("donnee2");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.insertCell(0).innerHTML = ListOld[0][j][0];
            row.insertCell(1).innerHTML = ListOld[0][j][1];
            row.insertCell(2).innerHTML = Intl.NumberFormat().format(ListOld[0][j][2]);
          }
          //$(".loading").hide();
        }

        var list3load = function()
        {
          //show element first table (id, ccountry, NewVolume)
          for(var j =0; j < mess[2][0].length; j++)
          {
            //inserting table content by incrementing all the element into the arraylist
            var table = document.getElementById("donnee3");
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            row.insertCell(0).innerHTML = ListNew[0][j][0];
            row.insertCell(1).innerHTML = ListNew[0][j][1];
            row.insertCell(2).innerHTML = Intl.NumberFormat().format(ListNew[0][j][2]);
          }
        }


        list1load();
        //executeAsync(list2load);
        //executeAsync(list3load);


        loadHist(ListHistogramm); //load histogramme (see hist.js)
        LoadPie(ListHistogramm); //load piechar (see pie.js)

        for(var i=0; i<ListVolCat[0].length; i++)
        {

          ListMapCatVol.push([ListVolCat[0][i][0], ListVolCat[0][i][1]]);
        }
        //alert(ListMapCatVol[0]);

        loadMap(ListMapCatVol);





        socket.setMaxListeners();//setMaxListeners to avoid memory leak (emit socket > 10)

      })

    //table scroll
    /*
    $(window).on("load resize ", function() {
      var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
      $('.tbl-header').css({'padding-right':scrollWidth});

      var scrollWidth2 = $('.tbl-content2').width() - $('.tbl-content2 table').width();
      $('.tbl-header2').css({'padding-right':scrollWidth2});

      var scrollWidth3 = $('.tbl-content3').width() - $('.tbl-content3 table').width();
      $('.tbl-header3').css({'padding-right':scrollWidth3});

    }).resize();*/

    </script>

  </body>
</html>
